*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* navbar */
.main-navbar{
    position: fixed;
    z-index: 999999999999999999999999999999999999999;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.main-navbar .navbar{
    display: flex;
    height: 80px;
    width: 900px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.main-navbar .navbar .logo{
    display: flex;
    width: 70px;
    cursor: pointer;
}

.main-navbar .navbar .list-menu{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.main-navbar .navbar .list-menu .menu{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    line-height: 17px;
    margin-left: 35px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    color: #000;
}
.main-navbar .navbar .list-menu .menu:hover{
    color: #F8BB31;
}

.main-navbar .navbar .list-icon{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.main-navbar .navbar .list-icon .icon-nav i{
    font-size: 16px;
    cursor: pointer;
    padding: 1px;
    overflow: hidden;
    margin-left: 20px;
    transition: 0.3s ease-in-out;
    color: #000;
}
.main-navbar .navbar .list-icon .icon-nav i:hover{
    color: #F8BB31;
}

/* FROM HOMEEEEEEEEEEEEEEE */
/* carousel top */
.carousel-top{
    height: 500px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin-top: 80px;
}

.carousel-top .wrapp-indicator{
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.carousel-top .wrapp-indicator .indicator-top{
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.carousel-top .wrapp-indicator .carousel-control-prev{
    position: relative;
    width: 3%;
}

.carousel-top .carousel-control-next{
    position: relative;
    width: 3%;
    right: 0;
}

/* indicators */
.carousel-top .carousel-indicators .active{
    background-color: #F8BB32;
}
.carousel-top .carousel-indicators button{
    height: 10px;
    width: 10px;
    border-radius: 500px;
    border-top: 0;
    border-bottom: 0;
    opacity: 1;
}

.carousel-top .carousel-inner{
    position: relative;
}

/* wrapp-text-carousel-top */
.carousel-top .carousel-inner .wrapp-text-carousel-top{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    overflow: hidden;
    transition: 0.3s ease-in;
}

.carousel-top .carousel-inner .wrapp-text-carousel-top .text-carousel-top{
    display: flex;
    flex-direction: column;
    height: 460px;
    width: 750px;
    justify-content: center;
    z-index: 99;
}

.carousel-top .carousel-inner .wrapp-text-carousel-top .text-carousel-top .title-deskripsi{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    width: 45%;
}

.carousel-top .carousel-inner .wrapp-text-carousel-top .text-carousel-top .deskripsi{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 300px;
    margin-top: 5px;
    color: #fff;
    width: 45%;
}

.carousel-top .carousel-inner .wrapp-text-carousel-top .text-carousel-top .shop-now{
    height: 40px;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: #d9d9d950;
    color: #fff;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
}

.carousel-top .carousel-inner .wrapp-text-carousel-top .text-carousel-top .shop-now:hover{
    background-color: #fff;
    color: #222;
}

.carousel-top .carousel-inner .wrapp-text-carousel-top .text-carousel-top .shop-now .txt-btn{
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.carousel-top .carousel-inner .carousel-item{
    overflow: hidden;
}

.carousel-top .carousel-inner .carousel-item .container-deskripsi{
    display: flex;
    justify-content: center;
    height: 500px;
}

.carousel-top .carousel-inner .carousel-item .container-deskripsi .deskripsi-carousel{
    display: flex;
    height: 100%;
    width: 750px;
    justify-content: flex-end;
    padding-top: 80px;
}

.carousel-top .carousel-inner .carousel-item .container-deskripsi .deskripsi-carousel .img-baju1{
    height: 300px;
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.carousel-top .carousel-inner .carousel-item .container-deskripsi .deskripsi-carousel .img-baju2{
    height: 250px;
    width: 120px;
    object-fit: cover;
    object-position: center;
    margin: 80px 0 0 20px;
}

/* shop by categories */
.wrapp-shop-categories{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
}

.wrapp-shop-categories .bg-black-top{
    position: absolute;
    background-color: #1E1E1E;
    height: 430px;
    left: 0;
    right: 0;
    margin-left: -130px;
    margin-top: -220px;
    margin-right: -100px;
    transform: rotate(-17deg);
}
@media (min-width: 1380px) and (max-width: 1470px) {
    /* bg black top */
    .wrapp-shop-categories .bg-black-top{
        height: 450px;
        margin-top: -240px;
        transform: rotate(-16deg);
    }
}
@media (min-width: 1471px) and (max-width: 1570px) {
    /* bg black top */
    .wrapp-shop-categories .bg-black-top{
        height: 450px;
        margin-top: -240px;
        transform: rotate(-15deg);
    }
}
@media (min-width: 1571px) and (max-width: 1800px) {
    /* bg black top */
    .wrapp-shop-categories .bg-black-top{
        height: 470px;
        margin-top: -230px;
        transform: rotate(-15deg);
    }
}
@media (min-width: 1801px) and (max-width: 1970px) {
    /* bg black top */
    .wrapp-shop-categories .bg-black-top{
        height: 510px;
        margin-top: -250px;
        transform: rotate(-15deg);
    }
}

.wrapp-shop-categories .content-shop-categories{
    display: flex;
    z-index: 1111;
    justify-content: center;
    width: 100%;
}

.wrapp-shop-categories .content-shop-categories .shop-categories{
    display: flex;
    flex-direction: column;
    width: 900px;
    padding-top: 60px;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .title-shop-categories{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #F8BB31;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .deskripsi-shop-categories{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/* img men and women */
.wrapp-shop-categories .content-shop-categories .shop-categories .image-men-women{
    display: flex;
    height: 400px;
    margin-top: 10px;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .image-men-women .bg-img-men-women{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out;
}
.wrapp-shop-categories .content-shop-categories .shop-categories .image-men-women .bg-img-men-women:hover{
    transform: scale(1.1);
}

.wrapp-shop-categories .content-shop-categories .shop-categories .image-men-women .title-img{
    z-index: 1;
    color: #F8BB31;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 5px 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .image-men-women .deskripsi-img{
    z-index: 1;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .image-men-women .txt-kanan-img{
    text-align: end;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .image-men-women .kiri-men{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 51%;
    padding: 40px 30px 0 30px;
    overflow: hidden;
    cursor: pointer;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .image-men-women .kanan-women{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px 30px 0 30px;
    width: 50%;
    overflow: hidden;
    cursor: pointer;
}

/* our products */
.wrapp-shop-categories .content-shop-categories .shop-categories .our-products{
    display: flex;
    flex-direction: column;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .our-products .title-our-products{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 80px;
    color: #000;
}

/* card products */
.wrapp-shop-categories .content-shop-categories .shop-categories .our-products .card-our-products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-gap: 30px;
    justify-content: space-between;
    overflow: hidden;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .our-products .card-our-products .card-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .our-products .card-our-products .card-products .img-products{
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .our-products .card-our-products .card-products .gender{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
    overflow: hidden;
    color: #000;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .our-products .card-our-products .card-products .name-products{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
    margin: 0 15px;
    overflow: hidden;
    color: #000;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .our-products .card-our-products .card-products .price{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #F8BB31;
    margin-bottom: 0;
    overflow: hidden;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .our-products .card-our-products .card-products .view-product{
    position: absolute;
    bottom: 10px;
    height: 35px;
    width: 110px;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .our-products .card-our-products .card-products .view-product:hover{
    background-color: #F8BB31;
    color: #1E1E1E;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .our-products .container-btn-show{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .our-products .container-btn-show .show-more{
    height: 40px;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    background-color: #949494;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.wrapp-shop-categories .content-shop-categories .shop-categories .our-products .container-btn-show .show-more:hover{
    background-color: #000;
}

/* bg black bottom */
.wrapp-shop-categories .container-bg-black-bottom{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.wrapp-shop-categories .container-bg-black-bottom .bg-black-bottom{
    display: flex;
    position: absolute;
    background-color: #1E1E1E;
    height: 270px;
    left: 0;
    right: 0;
    margin-top: 150px;
    margin-left: -130px;
    margin-right: -130px;
    transform: rotate(-8deg);
}

.wrapp-shop-categories .container-bg-black-bottom .bg-black-bottom-two{
    display: flex;
    position: absolute;
    background-color: #1E1E1E;
    height: 260px;
    left: 0;
    right: 0;
    margin-top: 300px;
}
@media (min-width: 1720px) and (max-width: 1920px){
    /* two */
    .wrapp-shop-categories .container-bg-black-bottom .bg-black-bottom-two{
        height: 280px;
        margin-top: 280px;
    }
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about{
    display: flex;
    justify-content: center;
    z-index: 1;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about{
    display: flex;
    flex-direction: column;
    width: 900px;
    padding-bottom: 80px;
}

/* about */
.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .banner-about{
    display: flex;
    overflow: hidden;
    background-color: #E6E6E6;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .banner-about .img-about{
    height: 300px;
    width: 40%;
    object-fit: cover;
    object-position: bottom;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .banner-about .kanan-about{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 40px 20px;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .banner-about .kanan-about .title-about{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #F8BB31;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .banner-about .kanan-about .deskripsi-about{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
}

/* people say about us */
.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .people-say-about{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .people-say-about .title-people-say{
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

/* carousel people */
.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .people-say-about .carousel-people{
    height: 240px;
    overflow: hidden;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .people-say-about .carousel-people .carousel-indicators .active{
    background-color: #F8BB32;
}
.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .people-say-about .carousel-people .carousel-indicators button{
    height: 10px;
    width: 10px;
    border-radius: 500px;
    border-top: 0;
    border-bottom: 0;
    opacity: 1;
    background-color: #949494;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .people-say-about .carousel-people .carousel-control-prev i{
    color: #000;
    font-size: 26px;
    overflow: hidden;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .people-say-about .carousel-people .carousel-control-next i{
    color: #000;
    font-size: 26px;
    overflow: hidden;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .people-say-about .carousel-people .carousel-inner .carousel-item .deskripsi{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .people-say-about .carousel-people .carousel-inner .carousel-item .deskripsi .comment-people{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 500px;
    text-align: center;
    color: #000;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .people-say-about .carousel-people .carousel-inner .carousel-item .deskripsi .name-people{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #F8BB31;
    margin-top: 5px;
}

/* sponsor */
.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .sponsor-home{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 150px);
    justify-content: center;
    grid-gap: 20px;
    align-items: center;
    list-style: none;
    margin-top: 10px;
    padding: 0 60px;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .sponsor-home .list-sponsor{
    display: flex;
    justify-content: center;
    list-style: none;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .sponsor-home .list-sponsor .img-sponsor{
    width: 120px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}
.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .sponsor-home .list-sponsor .img-sponsor:hover{
    opacity: 1;
}

/* latest news */
.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .latest-news{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .latest-news .title-latest-news{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    color: #000;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .latest-news .deskripsi-latest-news{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .latest-news .card-latest-news{
    display: flex;
    margin-top: 10px;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .latest-news .card-latest-news .card-news{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: calc(100%/3);
    padding-bottom: 45px;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .latest-news .card-latest-news .card-news .con-img-news{
    overflow: hidden;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .latest-news .card-latest-news .card-news .con-img-news .img-news{
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out;
}
.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .latest-news .card-latest-news .card-news .con-img-news .img-news:hover{
    transform: scale(1.1);
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .latest-news .card-latest-news .card-news .title-news{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #F8BB31;
    text-align: center;
    margin: 30px 15px 0 15px;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .latest-news .card-latest-news .card-news .read-more{
    display: flex;
    position: absolute;
    bottom: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    align-items: center;
    margin-top: 5px;
    transition: 0.3s ease-in-out;
}
.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .latest-news .card-latest-news .card-news .read-more:hover{
    color: #F8BB31;
}

.wrapp-shop-categories .container-bg-black-bottom .container-content-about .content-about .latest-news .card-latest-news .card-news .read-more i{
    margin-left: 8px;
    margin-top: 0px;
}

/* footer */
.main-footer{
    display: flex;
    justify-content: center;
    background-color: #1E1E1E;
    padding: 20px 0;
}

.main-footer .footer{
    display: flex;
    flex-direction: column;
    width: 900px;
}

/* search */
.main-footer .footer .search{
    display: flex;
    padding: 0 20px;
    margin-bottom: 10px;
}

.main-footer .footer .search .kiri-search{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 20px;
}

.main-footer .footer .search .kiri-search .title-search{
    font-weight: 700;
    font-size: 16px;
    color: #F8BB31;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}

.main-footer .footer .search .kiri-search .deskripsi-search{
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}

.main-footer .footer .search .kanan-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding-left: 20px;
}

.main-footer .footer .search .kanan-search .column-input{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-footer .footer .search .kanan-search .column-input .input-search{
    background-color: transparent;
    outline: none;
    width: 70%;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 4px 12px;
    font-size: 12px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: 0.2s ease-in-out;
}
.main-footer .footer .search .kanan-search .column-input .input-search:focus{
    border: 1px solid #F8BB31;
}

.main-footer .footer .search .kanan-search .column-input .btn-subscribe{
    display: flex;
    position: relative;
    padding: 5px 0;
    width: 120px;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #F8BB31;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1E1E1E;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}
.main-footer .footer .search .kanan-search .column-input .btn-subscribe:hover{
    background-color: #fff;
}

/* loading send */
.main-footer .footer .search .kanan-search .column-input .btn-subscribe .loading-send{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F8BB31;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
}

.main-footer .footer .search .kanan-search .column-input .btn-subscribe .loading-send .circle-loading-send{
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 500px;
    border: 2px solid #fff;
    border-top-color: #1E1E1E;
    animation: loadSend 0.4s ease-in-out infinite;
}

@keyframes loadSend {
    to{
        transform: rotate(360deg);
    }
}

/* error message */
.main-footer .footer .search .kanan-search .error-message-subscribe{
    margin: 5px 0 0 0;
    font-size: 12px;
    color: #ff0000;
    font-family: 'Montserrat', sans-serif;
}

/* pop up message success */
.main-footer .footer .search .kanan-search .pop-up-success{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    margin-top: 1px;
    z-index: 99999;
    padding-bottom: 20px;
    transition: 0.3s ease-in-out;
}

.main-footer .footer .search .kanan-search .pop-up-success .txt-success{
    display: flex;
    height: 40px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0;
    box-shadow: 0 2px 8px -1px rgba(0,0,0,0.5);
}

/* tod project */
.main-footer .footer .tod-project{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 150px);
    grid-gap: 20px;
    margin-top: 20px;
    list-style: none;
}

.main-footer .footer .tod-project .menu-footer{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.main-footer .footer .tod-project .menu-footer .title-menu{
    font-size: 14px;
    color: #F8BB31;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.main-footer .footer .tod-project .menu-footer .deskripsi-menu{
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.main-footer .footer .tod-project .menu-footer .deskripsi-menu:hover{
    color: #F8BB31;
}

.main-footer .footer .tod-project .menu-footer .deskripsi-menu i{
    margin-right: 5px;
    margin-top: 2px;
    padding: 2px;
}

/* copy right */
.main-footer .footer .copy-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border-top: 3px solid #F8BB31;
    padding-top: 15px;
    margin-top: 15px;
}

.main-footer .footer .copy-right .txt-copy-right{
    margin-bottom: 0;
}

.main-footer .footer .copy-right .reserved{
    margin-bottom: 0;
}

/* FROM ABOUUUUUTTTT */
.wrapp-about{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

/* header */
.wrapp-about .header{
    display: flex;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: top;
    justify-content: center;
}

.wrapp-about .header .wrapp-txt-header .desk-header{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 900px;
    justify-content: center;
}

.wrapp-about .header .wrapp-txt-header .desk-header .list-link-page{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
}

.wrapp-about .header .wrapp-txt-header .desk-header .list-link-page .link-page{
    text-decoration: none;
    color: #000;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}
.wrapp-about .header .wrapp-txt-header .desk-header .list-link-page .link-page:hover{
    color: #F8BB31;
}

.wrapp-about .header .wrapp-txt-header .desk-header .txt-header{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 0;
}

/* content */
.wrapp-about .wrapp-content-about{
    display: flex;
    flex-direction: column;
    width: auto;
}

/* we are tod */
.wrapp-about .wrapp-content-about .wrapp-we-are-tod{
    display: flex;
    position: relative;
    justify-content: center;
    background: #EDEFEE;
    width: 100%;
}
/* bg-black-top */
.wrapp-about .wrapp-content-about .wrapp-we-are-tod .bg-black-top{
    display: flex;
    position: absolute;
    background-color: #1E1E1E;
    height: 430px;
    left: 0;
    right: 0;
    margin-left: -130px;
    margin-top: -200px;
    margin-right: -100px;
    transform: rotate(-12deg);
}

.wrapp-about .wrapp-content-about .wrapp-we-are-tod .container-we-are-tod{
    display: flex;
    flex-direction: column;
    width: 900px;
    z-index: 9;
    padding-top: 60px;
}

/* deskripsi we are tod */
.wrapp-about .wrapp-content-about .wrapp-we-are-tod .container-we-are-tod .deskripsi-we-are-tod{
    display: flex;
}

/* kiri deskripsi tod */
.wrapp-about .wrapp-content-about .wrapp-we-are-tod .container-we-are-tod .deskripsi-we-are-tod .kiri-deskripsi{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.wrapp-about .wrapp-content-about .wrapp-we-are-tod .container-we-are-tod .deskripsi-we-are-tod .kiri-deskripsi .title{
    font-size: 20px;
    color: #F8BB31;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}

.wrapp-about .wrapp-content-about .wrapp-we-are-tod .container-we-are-tod .deskripsi-we-are-tod .kiri-deskripsi .deskripsi{
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}

/* kanan deskripsi tod */
.wrapp-about .wrapp-content-about .wrapp-we-are-tod .container-we-are-tod .deskripsi-we-are-tod .kanan-deskripsi{
    display: flex;
    position: relative;
    width: 55%;
    padding-left: 40px;
    justify-content: flex-end;
    overflow: hidden;
}

.wrapp-about .wrapp-content-about .wrapp-we-are-tod .container-we-are-tod .deskripsi-we-are-tod .kanan-deskripsi .img-deskripsi{
    position: absolute;
    margin-right: 28px;
    width: 350px;
}

.wrapp-about .wrapp-content-about .wrapp-we-are-tod .container-we-are-tod .deskripsi-we-are-tod .kanan-deskripsi .back-image{
    display: flex;
    height: 195px;
    width: 355px;
    border-radius: 33px;
    background-color: #D6D3CC;
    margin-top: 30px;
}

/* pengiriman antar alam */
.wrapp-about .wrapp-content-about .wrapp-we-are-tod .container-we-are-tod .pengiriman-antar-alam{
    display: flex;
    margin-top: 40px;
    margin-bottom: 15px;
}

.wrapp-about .wrapp-content-about .wrapp-we-are-tod .container-we-are-tod .pengiriman-antar-alam .col-antar-alam{
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    padding: 40px 0px 50px 0px;
    position: relative;
}

.wrapp-about .wrapp-content-about .wrapp-we-are-tod .container-we-are-tod .pengiriman-antar-alam .col-antar-alam .icon-pengiriman{
    width: 60px;
    position: absolute;
}

.wrapp-about .wrapp-content-about .wrapp-we-are-tod .container-we-are-tod .pengiriman-antar-alam .col-antar-alam .title-antar-alam{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #F8BB31;
    margin: 80px 0 0 0;
}

.wrapp-about .wrapp-content-about .wrapp-we-are-tod .container-we-are-tod .pengiriman-antar-alam .col-antar-alam .deskripsi-antar-alam{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0;
    color: #000;
}

/* shop by categories */
.wrapp-about .wrapp-content-about .wrapp-shop-categories{
    align-items: center;
    background-color: #1E1E1E;
}

.wrapp-about .wrapp-content-about .wrapp-shop-categories .container-shop-categories{
    display: flex;
    flex-direction: column;
    width: 900px;
    padding: 40px 0 80px 0;
}

.wrapp-about .wrapp-content-about .wrapp-shop-categories .container-shop-categories .title-shop-categories{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #F8BB31;
}

.wrapp-about .wrapp-content-about .wrapp-shop-categories .container-shop-categories .deskripsi-shop-categories{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/* img men and women */
.wrapp-about .wrapp-content-about .wrapp-shop-categories .container-shop-categories .image-men-women{
    display: flex;
    height: 400px;
    margin-top: 10px;
}

.wrapp-about .wrapp-content-about .wrapp-shop-categories .container-shop-categories .image-men-women .bg-img-men-women{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out;
}
.wrapp-about .wrapp-content-about .wrapp-shop-categories .container-shop-categories .image-men-women .bg-img-men-women:hover{
    transform: scale(1.1);
}

.wrapp-about .wrapp-content-about .wrapp-shop-categories .container-shop-categories .image-men-women .title-img{
    z-index: 1;
    color: #F8BB31;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 5px 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapp-about .wrapp-content-about .wrapp-shop-categories .container-shop-categories .image-men-women .deskripsi-img{
    z-index: 1;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.wrapp-about .wrapp-content-about .wrapp-shop-categories .container-shop-categories .image-men-women .txt-kanan-img{
    text-align: end;
}

.wrapp-about .wrapp-content-about .wrapp-shop-categories .container-shop-categories .image-men-women .kiri-men{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 51%;
    padding: 40px 30px 0 30px;
    overflow: hidden;
    cursor: pointer;
}

.wrapp-about .wrapp-content-about .wrapp-shop-categories .container-shop-categories .image-men-women .kanan-women{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px 30px 0 30px;
    width: 50%;
    overflow: hidden;
    cursor: pointer;
}

/* our team */
.wrapp-about .wrapp-content-about .wrapp-our-team{
    display: flex;
    justify-content: center;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team{
    display: flex;
    width: 900px;
    flex-direction: column;
    padding-top: 30px;
    z-index: 9;
}

/* background black */
.wrapp-about .wrapp-content-about .wrapp-our-team .bg-black-bottom{
    display: flex;
    position: absolute;
    background-color: #1E1E1E;
    height: 270px;
    left: 0;
    right: 0;
    margin-top: 140px;
    margin-left: -130px;
    margin-right: -130px;
    transform: rotate(-4.5deg);
}

.wrapp-about .wrapp-content-about .wrapp-our-team .bg-black-bottom-two{
    display: flex;
    position: absolute;
    background-color: #1E1E1E;
    height: 370px;
    left: 0;
    right: 0;
    margin-top: 300px;
}
/* @media (min-width: 1720px) and (max-width: 1920px){
    .wrapp-about .wrapp-content-about .wrapp-our-team .bg-black-bottom-two{
        height: 280px;
        margin-top: 280px;
    }
} */

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .title-our-team{
    width: 230px;
    font-weight: 700;
    color: #000;
    font-size: 30px;
    margin: 0;
    padding-bottom: 3px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 5px solid #F8BB31;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .deskripsi-our-team{
    font-size: 16px;
    font-weight: 500;
    margin: 3px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

/* card our team */
.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .card-our-team{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 265px);
    grid-gap: 15px;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 110px;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .card-our-team .card-person{
    display: flex;
    flex-direction: column;
    padding: 30px 10px 10px 10px;
    border-radius: 15px;
    background-color: #D9D9D9;
    align-items: center;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .card-our-team .card-person .img-person{
    object-fit: cover;
    border-radius: 50%;
    height: 140px;
    width: 110px;
    margin-bottom: 15px;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .card-our-team .card-person .title-person{
    font-weight: 500;
    font-size: 10.5px;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .card-our-team .card-person .name-person{
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .card-our-team .card-person .nim-person{
    font-weight: 600;
    font-size: 11px;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #F8BB31;
}

/* people say about us */
.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .title-people-say{
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 40px 0 40px 0;
}

/* carousel people */
.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .carousel-people{
    height: 160px;
    overflow: hidden;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .carousel-people .carousel-indicators .active{
    background-color: #F8BB32;
}
.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .carousel-people .carousel-indicators button{
    height: 10px;
    width: 10px;
    border-radius: 500px;
    border-top: 0;
    border-bottom: 0;
    opacity: 1;
    background-color: #949494;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .carousel-people .carousel-control-prev i{
    color: #000;
    font-size: 26px;
    overflow: hidden;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .carousel-people .carousel-control-next i{
    color: #000;
    font-size: 26px;
    overflow: hidden;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .carousel-people .carousel-inner .carousel-item .deskripsi{
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .carousel-people .carousel-inner .carousel-item .deskripsi .comment-people{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 500px;
    text-align: center;
    color: #000;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .carousel-people .carousel-inner .carousel-item .deskripsi .name-people{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #F8BB31;
    margin-top: 5px;
}

/* sponsor */
.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .sponsor-about{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 150px);
    justify-content: center;
    grid-gap: 20px;
    align-items: center;
    list-style: none;
    margin: 10px 0 30px 0;
    padding: 0 60px;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .sponsor-about .list-sponsor{
    display: flex;
    justify-content: center;
    list-style: none;
}

.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .sponsor-about .list-sponsor .img-sponsor{
    width: 120px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}
.wrapp-about .wrapp-content-about .wrapp-our-team .container-our-team .sponsor-about .list-sponsor .img-sponsor:hover{
    opacity: 1;
}

/* FROM SHOOOOOOOOOOP */
.wrapp-shop{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

/* header */
.wrapp-shop .header{
    display: flex;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: top;
    justify-content: center;
}

.wrapp-shop .header .wrapp-txt-header .desk-header{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 900px;
    justify-content: center;
}

.wrapp-shop .header .wrapp-txt-header .desk-header .list-link-page{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
}

.wrapp-shop .header .wrapp-txt-header .desk-header .list-link-page .link-page{
    text-decoration: none;
    color: #fff;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}
.wrapp-shop .header .wrapp-txt-header .desk-header .list-link-page .link-page:hover{
    color: #F8BB31;
}

.wrapp-shop .header .wrapp-txt-header .desk-header .txt-header{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 0;
}

/* wrapp content */
.wrapp-shop .wrapp-content{
    display: flex;
    justify-content: center;
}

.wrapp-shop .wrapp-content .container-content{
    display: flex;
    flex-direction: column;
    width: 900px;
    padding-top: 50px;
}

/* sort by */
.wrapp-shop .wrapp-content .container-content .dropdown-sort-by{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .btn-sort{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
}

/* on dropdown */
.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .on-dropdown{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 8px -1px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px 0;
    list-style: none;
    margin: 25px 0 0 15px;
    width: 100px;
    z-index: 999;
}

.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .on-dropdown .list-menu{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    cursor: pointer;
    padding: 5px 15px;
    transition: 0.3s ease-in-out;
}
.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .on-dropdown .list-menu:hover{
    background-color: #1E1E1E;
    color: #fff;
}

/* card shop */
.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .card-shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .card-shop .card-products{
    display: flex;
    height: 300px;
    width: calc(85%/4);
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .card-shop .card-products .img-products{
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}

.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .card-shop .card-products .gender{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
    overflow: hidden;
    color: #000;
}

.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .card-shop .card-products .name-products{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
    margin: 0 15px;
    overflow: hidden;
    color: #000;
}

.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .card-shop .card-products .price{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #F8BB31;
    margin-bottom: 0;
    overflow: hidden;
}

.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .card-shop .card-products .view-product{
    position: absolute;
    bottom: 10px;
    height: 35px;
    width: 110px;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .card-shop .card-products .view-product:hover{
    background-color: #F8BB31;
    color: #1E1E1E;
}

/* pagination */
.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .pagination i{
    font-size: 14px;
    color: #F8BB31;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
/* .wrapp-shop .wrapp-content .container-content .dropdown-sort-by .pagination i:hover{
    color: #D9D9D9;
} */

.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .pagination .list-index-paginate{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .pagination .list-index-paginate .index-paginate{
    display: flex;
    list-style: none;
    height: 30px;
    width: 30px;
    border-radius: 500px;
    background-color: #D9D9D9;
    color: #F8BB31;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.3s ease-in-out;
}
.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .pagination .list-index-paginate .index-paginate:hover{
    background-color: #F8BB31;
    color: #fff;
}
.wrapp-shop .wrapp-content .container-content .dropdown-sort-by .pagination .list-index-paginate .active-paginate{
    background-color: #F8BB31;
    color: #fff;
}